<h3> Content App</h3>
<!-- <div style="padding:30px;margin:20px;">
  
  <app-child [childMessage]="parentMessage" (messageEvent)="receiveMessage($event)"></app-child>
</div>
<div>Name : {{name}}</div>
<div>Designation : {{designation}}</div>
<div>Child Message : {{childMessage}}</div>
<div>Check this : {{message}}</div>
<div style="margin:40px;padding:30px;border:1px solid black">
  
<app-about></app-about>
<input type="button" (click)="newMessage()" value="change text">
</div> -->



<router-outlet>
  
</router-outlet>

